.body{
    background-color: pink;

}
.row{


    position: fixed;
    margin: auto;
    width: 50%;
    left: 25%;

    /* border: solid; */
    /* border-width: 5px; */
    /* background-color: aqua; */



}
.animations{
    margin: auto;
    height: 450px;
    width: 70%;

    /* border: solid; */
    border-width: 5px;
    background-color: antiquewhite;

}