<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pinkLyte</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body class="body">
    <div class="row">
        <button id="bt-1"class="col-lg-1 btn btn-basic">1</button>
        <button class="col-lg-1 btn btn-default">2</button>
        <button class="col-lg-1 btn btn-primary">3</button>
        <button class="col-lg-1 btn btn-success">4</button>
        <button class="col-lg-1 btn btn-info">5</button>
        <button class="col-lg-1 btn btn-warning">6</button>
        <button class="col-lg-1 btn btn-danger">7</button>
        <button class="col-lg-1 btn btn-warning">8</button>
        <button class="col-lg-1 btn btn-info">9</button>
        <button class="col-lg-1 btn btn-success">10</button>
        <button class="col-lg-1 btn btn-primary">11</button>
        <button id="bt-12"class="col-lg-1 btn btn-danger">12</button>
      </div>

</body>
</html>