<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pinkLyte</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <script>
        $(document).ready(function(){
          $("#bt1").click(function(){
            $("#box").hide();
          });
        });
        $(document).ready(function(){
          $("#bt2").click(function(){
            $("#box").show(1000).css({"background-color":"#fcce03", "height":"450px"})

          });
        });
        $(document).ready(function(){
          $("#bt3").click(function(){
            $("#box").css({"background-color": "#0390fc", "height":"450px"});
          });
        });

        $(document).ready(function(){
          $("#bt4").click(function(){
            $("#pic").attr({"src":"./static/pic/rain.jpg","alt":"rain",}).css({"height":"100%", "width":"100%",});
          });
        });

        </script>

</head>
<body class="body">
    <div class="animations" id="box">
      <img id="pic" src="" alt="">


    </div>
    <div class="row">
        <button id="bt1" class="col-lg-1 btn btn-basic"> 1</button>
        <button id="bt2" class="col-lg-1 btn btn-default">2</button>
        <button id="bt3" class="col-lg-1 btn btn-primary">3</button>
        <button id="bt4" class="col-lg-1 btn btn-success">4</button>
        <button class="col-lg-1 btn btn-info">5</button>
        <button class="col-lg-1 btn btn-warning">6</button>
        <button class="col-lg-1 btn btn-danger">7</button>
        <button class="col-lg-1 btn btn-warning">8</button>
        <button class="col-lg-1 btn btn-info">9</button>
        <button class="col-lg-1 btn btn-success">10</button>
        <button class="col-lg-1 btn btn-primary">11</button>
        <button id="bt-12"class="col-lg-1 btn btn-danger">12</button>
      </div>


</body>
</html>